.fondoSemaforo{
    height: 640px;
    width: 320px;
    z-index: -1;
}
.posteSemaforo{
    height: 640px;
    width: 80px;
    top: 408px;
    z-index: -1;
}

.rojo{
    
    background-color: red;
    border-style: none;
    width: 192px;
    height: 192px;
    top: 160px;
}
.rojo:hover{
    background-color: red;
    border-style: none;
}
#brilloRojo{
    
box-shadow: 0px 0px 80px  red;
}

.amarillo{
    background-color: rgb(255, 221, 0);
    border-style: none;
    width: 192px;
    height: 192px;

}
.amarillo:hover{
    background-color: rgb(255, 221, 0);
    border-style: none;
}
#brilloAmarillo{
box-shadow: 0px 0px 80px  rgb(255, 221, 0);
}
.verde{
    background-color: rgb(64, 228, 23);
    border-style: none;
    width: 192px;
    height: 192px;
    bottom: -35px;
}
.verde:hover{
    background-color: rgb(64, 228, 23);
    border-style: none;
}
#brilloVerde{
    box-shadow: 0px 0px 80px  rgb(64, 228, 23);
}